[Unit]
Description=Memocurial
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker run -v /var/lib/memocurial/var:/app/var --entrypoint "bin/buildout" f440/memocurial
ExecStartPre=/usr/bin/docker run -v /var/lib/memocurial/var:/app/var f440/memocurial init-db
ExecStart=/usr/bin/docker run -p 5000:5000 --name %n -v /var/lib/memocurial/var:/app/var f440/memocurial runserver -h 0.0.0.0
ExecStop=/usr/bin/docker stop -t 3 %n
ExecStopPost=/usr/bin/docker rm -f %n
 
[Install]
WantedBy=multi-user.target
